@page
@model Scaledriven.Pages.App
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>App</title>
    <base href="/App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="app/styles.css" type="text/css"></head>
<body>
    <app-root></app-root>
    <script src="app/runtime.js"></script>
    <script src="app/polyfills.js"></script>
    <script src="app/vendor.js"></script>
    <script src="app/main.js"></script></body>
</html>




