@page
@model Scaledriven.Pages.Index

@{
    Layout = "Shared/_Layout";
}

<div class="stretched row" style="min-height: 700px">

    <div class="four wide column">
        <div class="ui secondary segment">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h1 class="header">ScaleDriven! dude</h1>

                        <div class="meta">
                            <p>Content</p>
                        </div>
                        <div class="description">
                            <p>Content</p>
                        </div>
                        <div class="extra">
                            <div class="ui fluid green button">Click</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="twelve wide column">

        <div class="ui items">
            <div class="item">
                <div class="ui small image">
                    <img src="images/12.jpg" class="image" style="max-height: 300px"/>
                </div>
                <div class="content">
                    <div class="header">ScaleDriven! dude</div>
                    <div class="meta">
                        <p>Content</p>
                    </div>
                    <div class="description">
                        <p>Content</p>
                    </div>
                    <div class="extra">
                        <div class="ui fluid green button">Click</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
